
:root{
    --dark-normal: #0D2329;
    --dark-variant: #05664f;

    --white-normal: #fff;
    --white-variant: #d1d1d1;

    --black-normal: #010101;
    --black-variant: #222222;

    --red-normal: #dd0030;

    --green-normal: #5aff7a;
    --green-variant: #26a43e;
}

/* CSS GERAL */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100dvh;
    position: relative;
    background: var(--dark-normal);
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem ;
}

/* HEADER */

.home{
    position: relative;
}

header{
    width: 100%;
    padding: .5rem 0;
    background: var(--dark-normal);
    color: var(--white-normal);
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content h2{
    font-weight: 700;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.logo img{
    width: 50px;
}

.navigation{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation a{
    color: var(--white-normal);
    font-weight: 600;
    transition: all .2s ;
}

.navigation a:hover{
    color: var(--green-normal);
}


.contato {
    padding: 5px 20px;
    border: 3px solid var(--green-normal);
    border-radius: .5rem;
    color: var(--green-normal);
    font-weight: 600;
    transition: all .3s ease-out;
}

.contato:hover{
    color: var(--dark-normal);
    background: var(--green-normal);
}

/* Responsividade */

@media screen and (max-width: 630px) {
    .header-content{
        flex-direction: column; 
        gap: 1rem;
    }

    .contato{
        width: 100%;
        text-align: center;
        margin-bottom: .5rem ;
    }
}

/* ABOUT */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 34px 14px 64px 14px;
}

.about img{
    width: 440px;
    border-radius: 100%;
}

.about-info{
    color: var(--white-normal);
    user-select: none;
}

.about div{
    flex: 1;
}

.about-info h2{
    font-size: 42px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.about-info p{
    font-size: 22px;
    text-align: justify;
    line-height: 150%;
}

@media screen and (max-width: 915px){
    .about{
        flex-direction: column;
    }

    .about-info p{
        font-size: 18px;
    }

    .about img{
        width: 300px;
        border-radius: 5%;
    }
}

/* CAEGORIAS */

.category{
    background: var(--white-normal);
}

.categorias{
    padding: 34px 14px 64px 14px;
}

.category-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 1rem;
}

.div-category{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 200;
    width: 220px;
    height: 130px;
    background: red;
}


.category-info h2{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.text-category{
    color: var(--white-normal);
    font-size: 26px;
    font-weight: 700;
}

.category-info p{
    margin: 1rem 0;
    font-size: 18px;
    text-align: center;
}

.div-category h1{
    color: var(--white-normal);
}

.nutri{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: linear-gradient(to bottom, rgba(0, 37, 12, 0.096), #0d2329c5), url('/assets/categoria1.png');
}

.exercises{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: linear-gradient(to bottom, rgba(0, 37, 12, 0.096), #0d2329c5), url('/assets/categoria2.png');
}

.health{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: linear-gradient(to bottom, rgba(0, 37, 12, 0.096), #0d2329c5), url('/assets/categoria3.png');
}

.rotine{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: linear-gradient(to bottom, rgba(0, 37, 12, 0.096), #0d2329c5), url('/assets/categoria4.png');
}

.explicacao{
    margin-top: 1rem;
}

.explicacao h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: .75rem;
    background: var(--dark-variant);
    padding: .75rem;
    color: var(--white-normal);
    user-select: none;
}

.explicacao p{
    text-align: justify;
}

/* POSTS */

.posts-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 34px 14px 64px 14px;
}

.posts-content h1{
    font-size: 38px;
    text-transform: uppercase;
    color: var(--white-normal);
}

.postagem{
    background: var(--white-normal);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1.2rem;
}

.photo{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.photo img{
    width: 350px;
}

.actions-photo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions-photo i{
    font-size: 20px;
    cursor: pointer;
    color: var(--dark-variant);
}

.actions-photo  a{
    background: var(--green-variant);
    color: var(--white-normal);
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 5px;
}

.post-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.post-text h2{
    font-size: 30px;
    text-align: center;
}

.post-text p{
    font-size: 16px;
    text-align: justify;
}

/* Responsividade */

@media screen and (max-width: 1088px){
    .postagem{
        flex-direction: column;
    }
    .photo img{
        width: 280px;
    }
    .post-text h2{
        font-size: 24px;
    }
    .post-text p{
        font-size: 12px;
    }
}